<div>
    <h1 class="text-3xl text-center font-bold underline">Dashboard</h1>
    {{#if session.user}}
    <p class="text-xl text-center">Welcome, {{session.name}}</p>
    {{else}}
    <p class="text-xl text-center">Welcome, Guest. <span class="font-bold text-red-500"><a href="/?login=true">Sign
                in</a> </span>or Register <a href="/?register=true" class="font-bold text-red-500">here</a></p>
    {{/if}}
</div>