<div>
    {{#if register}}
    <h1 class="text-3xl text-center font-bold underline">Register</h1>
    <form action="/register" method="POST">
        <div class="flex flex-col items-center space-y-1">
            <div class="flex flex-col">
                <label for="name">Name</label>
                <input
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" name="name" id="name" placeholder="Your name" required>
            </div>
            <div class="flex flex-col">
                <label for="lastname">Lastname</label>
                <input
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" name="lastname" id="lastname" placeholder="Your lastname" required>
            </div>
            <div class="flex flex-col">
                <label for="age">Age</label>
                <input
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="number" min="1" max="100" name="age" id="age" placeholder="Your age" required>
            </div>
            <div class="flex flex-col">
                <label for="email">Email</label>
                <input
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="email" name="email" id="email" placeholder="your@email.com" required>
            </div>
            <div class="flex flex-col">
                <label for="password">Password</label>
                <input
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="password" name="password" id="password" placeholder="Your password" required>
            </div>
            <div class="flex flex-col">
                <label for="password2">Confirm Password</label>
                <input
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="password" name="password2" id="password2" placeholder="Confirm your password" required>
            </div>
        </div>
        <div class="flex flex-col">
            <button type="submit"
                class="block mx-auto my-3 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</button>
        </div>
        {{else}}
        <h1 class="text-3xl text-center font-bold underline">Dashboard</h1>
        {{#if session.user}}
        <p class="text-xl text-center">Welcome, {{session.name}}</p>
        {{else}}
        <p class="text-xl">Welcome, Guest. Sign in or Register <a href="/?register=true">here</a></p>
        {{/if}}
        {{/if}}
</div>