<div>
    <h2>Add new product</h2>
    <form id="addProductForm">
        <input type="text" required id="productTitle" placeholder="Product Title">
        <input type="number" required id="productPrice" placeholder="Product Price">
        <input type="number" required id="productStock" placeholder="Product Stock">
        <input type="text" required id="productCode" placeholder="Product Code">
        {{!-- CATEGORY SAMPLES ONLY --}}
        <select id="productCategory" required>
            <option disabled selected value="">Select a category</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Technology">Technology</option>
            <option value="Office">Office</option>
        </select>
        <button id="addProductBtn">Add Product</button>
    </form>
</div>
<h1>Realtime Products List</h1>
<ul id="productList"></ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>