@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.swal-background {
  background-color: #00111f; /* Dark blue background color */
  color: #fff; /* Light text color */
  border: .25px solid orange;
}




