<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>

<body>
    <p class="text-center text-xl mt-1 mb-4"><a href="/" class="underline">Home</a> / <a href="/products" class="underline">Products</a>{{#if user}} / <a class="underline" id="cart-button">Cart</a>{{else}} / <a href="/?login=true" class="underline">Login</a> / <a href="/?register=true" class="underline">Register</a>{{/if}}</p>
    {{{body}}}
    <script src="/static/js/main.js"></script>
</body>

</html>